<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <label for="inputText">Input Text</label>
    <textarea name="inputText" id="inputText" cols="100" rows="50"></textarea>

    <label for="outputText">Output Text</label>
    <textarea name="outputText" id="outputText" cols="100" rows="50"></textarea>
</body>
</html>